*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:whitesmoke;
    font-weight: bold;
}

#mission{
    width: 50%;
    height: 100vh;
}

/*mission*/
#mission{
    background-image: url("https://tinyurl.com/bdhmm46v");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: white;
    font-weight:bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mission p{
    margin: 0 auto;
    padding: 40% 10px;
    font-size: 34px;
}

/*MAXIMUM SCREEN 425px*/
@media screen and (max-width:425px){
    body{
        display: block;
        width: 100%;
    }

    #mission{
        width: 100%;
        height: 100vh;
    }

    /*mission*/
    #mission{
        background-image: url("https://tinyurl.com/bdhmm46v");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        color: white;
        font-weight:bold;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #mission p{
        margin: 0 auto;
        padding: 40% 10px;
        font-size: 34px;
        color: black;
    }

}