@media screen and (max-width: 375px) {
    #forgotpassword{
        margin: 0 auto;
        margin: 0 auto;
        width: 50%;
        background-color: whitesmoke;
        padding: 80px 0px;
        position: absolute;
        left: 0%;
        display: none;
        text-align: center;
        width: 100%;
    }
    
    #forgotpassword:target{
        display: block;
    }
    
    #forgotpassword img{
        width: 150px;
        height: 150px;
    
    }
    
    #forgotpassword h1{
        color: rgb(40, 175, 40);
        margin: 0;
        font-size: 40px;
    }
    
    #two{
        color: rgb(40, 175, 40);
    }
    
    #forgotpassword form{
        margin: 0 auto;
        background-color: white;
        width: 80%;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgb(187, 187, 187);
        text-align: left;
        padding: 30px;
        text-transform: capitalize;
    }
    
    #forgotpassword a{
        text-decoration: none;
        color: rgb(40, 175, 40);
        text-transform: capitalize;
        font-weight: bold;
    }
    #forgotpassword #username2{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: 1px solid rgb(181, 189, 194);
        padding: 8px;
    }
    
    #forgotpassword button{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: none;
        width: 100%;
        background-color: rgb(40, 175, 40);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
        height: 40px;
    }
    
    #forgotpassword label{
        font-weight: bold;
    } 
    
    #forgotpassword input{
        font-size: 20px;
    }
    
    #forgotpassword button:hover{
        background-color: rgb(8, 8, 133);
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    
    #forgotpassword input::placeholder{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity: 0.6;
        font-size: 20px;
        padding: 10px 0 0 0;
    }
    
} 