@media screen and (max-width: 375px){
    body{
        display: block;
        width: 100%;
    }

    #mission{
        margin: 0 auto;
        height: 80vh;
    }
    
    #mission{
        background-image: url("https://portal.mut.ac.ke/uploads/2e23d0ad-52ee-4596-a2f1-74f8fedac74b.jpg?v=GWBop-AlxExZtzEdXbsTgNyDYMgzV8xH8xdjEMuSBbY");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        color: white;
        font-weight:bold;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #mission p{
        margin: 0 auto;
        padding: 30vh 10px 0 10px;
        font-size: 25px;
        color: white;
    }
    
    #aside{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        position: relative;
    }
}
