@media screen and (max-width: 768px){
    body{
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
    }

    #mission{
        margin: 0 auto;
        padding: 0;
        width: 50%;
        height: 100vh;
        background-image: url("https://portal.mut.ac.ke/uploads/c05fd9fb-b2e0-426a-94e8-b8fce91b03bc.PNG?v=oxXdMqmqHOrZjjk51S9d6N40rbwnsz9DglU-7DBYst8");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        color: white;
        font-weight:bold;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #mission p{
        margin: 0 auto;
        padding: 45vh 5px 0 5px;
        font-size: 32px;
        color: white;
    }

    #aside{
        margin: 0 auto;
        padding: 0;
        width: 50%;
        position: relative;
    }

}
