@media screen and (max-width: 768px) {
    
*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#mission{
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

/*mission*/
#mission{
    background-image: url("https://portal.mut.ac.ke/uploads/2e23d0ad-52ee-4596-a2f1-74f8fedac74b.jpg?v=GWBop-AlxExZtzEdXbsTgNyDYMgzV8xH8xdjEMuSBbY");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: white;
    font-weight:bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mission p{
    margin: 0 auto;
    padding: 40% 10px;
    font-size: 34px;
}

/*MAXIMUM SCREEN 425px*/
@media screen and (max-width:425px){
    body{
        display: block;
        width: 100%;
    }

    #mission{
        width: 100%;
        height: 100vh;
    }

    /*mission*/
    #mission{
        background-image: url("https://portal.mut.ac.ke/uploads/2e23d0ad-52ee-4596-a2f1-74f8fedac74b.jpg?v=GWBop-AlxExZtzEdXbsTgNyDYMgzV8xH8xdjEMuSBbY");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        color: white;
        font-weight:bold;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #mission p{
        margin: 0 auto;
        padding: 40% 10px;
        font-size: 34px;
        color: black;
    }

}

#aside{
    margin: 0 auto;
    padding: 0;
    width: 50%;
    position: relative;
}  
}
