@media screen and (max-width: 768px) {
    #login{
        margin: 0 auto;
        background-color: whitesmoke;
        position: absolute;
        width: 100%;
        height: 100vh;
        text-align: center; 
}

#signin:target{
    display: block;

}

#login .login-icon{
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

#login .login-icon img{
    width: 150px;
    height: 150px;

}

#login h1{
    margin: 0 auto;
    font-size: 30px;
    color: limegreen;
}

#login form{
    margin: 0 auto;
    background-color: white;
    width: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(187, 187, 187);
    text-align: left;
    padding: 30px;
    text-transform: capitalize;
}

#login #f2{
    margin: 20px auto;
    display: flex;
    justify-content: left;
}

#login #f21,#f22{
    margin: 0 auto;
    width: 50%;
    font-size: 14px;
}

#login #f22{
    text-align: right;
}

#login a{
    text-decoration: none;
    color: rgb(40, 175, 40);
    text-transform: capitalize;
    font-weight: bold;
}
#login #username{
    margin: 10px auto;
    width: 100%;
    outline: none;
    border: 1px solid rgb(181, 189, 194);
    padding: 8px;
}

#login #password{
    margin: 10px auto;
    width: 100%;
    outline: none;
    border: 1px solid rgb(181, 189, 194);
    padding: 8px;
}

#login button{
    margin: 10px auto;
    width: 100%;
    outline: none;
    border: none;
    width: 100%;
    background-color: rgb(40, 175, 40);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    height: 40px;
}

#login label{
    font-weight: bold;
} 

#login input{
    font-size: 18px;
}

#login button:hover{
    background-color: rgb(8, 8, 133);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

#login input::placeholder{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.6;
    font-size: 18px;
    padding: 10px 0 0 0;
}
#one,
#two{
    font-size: 18px;
}
}