*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:whitesmoke;
    font-weight: bold;
}
#mission,#login,#signup{
    width: 50%;
    height: 100vh;
}
#mission{
    background-image: url(Icon/back.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: white;
    font-weight:bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mission p{
    margin: 0 auto;
    padding: 40% 10px;
    font-size: 34px;
}
#login{
    margin: 0 auto;
    text-align: center; 
}
h1{
    color: rgb(40, 175, 40);
    margin: 0;
}
form{
    margin: 0 auto;
    background-color: white;
    width: 70%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(187, 187, 187);
    text-align: left;
    padding: 30px;
    text-transform: capitalize;
}
#f2{
    display: flex;
}
#f21,#f22{
    width: 50%;
}
#f22{
    text-align: right;
}
a{
    text-decoration: none;
    color: rgb(40, 175, 40);
    text-transform: capitalize;
    font-weight: bold;
}
#username,#password,button{
    margin: 10px auto;
    width: 100%;
    outline: none;
    border: none;
}
#username,#password{
    border: 1px solid rgb(181, 189, 194);
    padding: 8px;
}
label{
    font-weight: bold;
}
button{
    width: 100%;
    background-color: rgb(40, 175, 40);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    height: 40px;
}
button:hover{
    background-color: rgb(8, 8, 133);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}
#two{
    text-transform: capitalize;
    color: rgb(40, 175, 40);
    font-weight: bold;
}
input::placeholder{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    opacity: 0.6;
}
/*REGISTRATION*/
#signup{
    text-align: center;
}
/*LOGOS*/
#login img,#signup img,#forgotpassword img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
#f3{
    display: flex;
}
/*
.guide{
    background-color: white;
    width:100%;
    text-align: left;
    padding: 5px;
    z-index: -1;
    position: fixed;
    height: 100%;
    top: 40%;
    left: 0;
    display: none;
}
.guide:target{
    display: block;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
}*/
#f32{
    width: 70%;
    text-align: right;
}

/*FORGOT PASSWORD*/
#forgotpassword{
    margin: 0 auto;
    text-align: center;
}
/*INTEGRATION*/
#login{
    background-color: whitesmoke;
    position:fixed;
    left:50%;
}
#signup{
    width: 50%;
    background-color: whitesmoke;
    position: fixed;
    left: 50%;
    display: none;
}
#forgotpassword{
    margin: 0 auto;
    width: 50%;
    background-color: whitesmoke;
    padding: 100px 0px;
    position: fixed;
    left: 50%;
    display: none;
}
#signin:target{
    display: block;

}
#signup:target{
    display: block;
}
#forgotpassword:target{
    display: block;
    
}
#forgotpassword form{
    height: 30vh;
}
/*MAXIMUM SCREEN 575px*/
@media screen and (max-width:575px){
    body{
        display:block;
    }
    #mission,#login,#signup,#forgotpassword{
        width: 100%;
    }
    #mission{
        height: 100vh;
        padding: 40vh 0 0 0;
        margin: 0 auto;
    }
    #mission p{
        font-size: 5vh;
        margin: 0 auto;
        padding: 3px 0 0 3px;
    }

    /*LOGIN*/
    #login img{
        margin-top: 0px;
    }
    #login{
        position: static;
    }
    /*SIGN UP*/
    #signup img{
        margin-top: 10px;

    }
    #signup{
        position: absolute;
        top: 100vh;
        width: 100%;
        left: 0px;
        display: none;
    }
    /*FORGOT PASSWORD*/
    #forgotpassword img{
        margin-top: 10px;
    }
    #forgotpassword{
        position: absolute;
        left: 0;
        top: 100vh;
        display: none;
        width: 100%;
        height: 100vh;
    }

    /*TARGET*/
    #login:target{
        display: block;        
    }
    #signup:target{
        display: block;
    }
    #forgotpassword:target{
        display: block;
        padding: 60px;
    }
    form{
        width: 90%;
    }
    }