*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    justify-items: center;
    align-items: center;
}

#mission{
    background-image: url("https://portal.mut.ac.ke/uploads/2e23d0ad-52ee-4596-a2f1-74f8fedac74b.jpg?v=GWBop-AlxExZtzEdXbsTgNyDYMgzV8xH8xdjEMuSBbY");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    color: white;
    font-weight:bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    max-width: 50%;
    
    p{
        display: flex;
        align-items: center;
        padding:  10px;
        font-size: 34px;
        
    }
}

.right-forms{
    flex: 1;

/*Login*/
#login{
    margin: 0 auto;
    background-color: whitesmoke;
    text-align: center;
    min-height: 100vh;

    .login-icon{
        margin: 0 auto;
        padding: 5px 0 0 0;
    }
    
    .login-icon img{
        width: 150px;
        height: 150px;
    
    }
    
    h1{
        color: rgb(40, 175, 40);
        margin: 0;
        font-size: 50px;
        color: lime;
    }
    
    form{
        margin: 0 auto;
        background-color: white;
        width: 70%;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgb(187, 187, 187);
        text-align: left;
        padding: 30px;
        text-transform: capitalize;
    }
    
    #f2{
        display: flex;
        justify-content: flex-end;
    }
    
    #f21,
    #f22{
        width: 50%;
    }
    
    #f22{
        text-align: right;
    }
    
    a{
        text-decoration: none;
        color: rgb(40, 175, 40);
        text-transform: capitalize;
        font-weight: bold;
    }
    #username{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: 1px solid rgb(181, 189, 194);
        padding: 8px;
    }
    
    #password{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: 1px solid rgb(181, 189, 194);
        padding: 8px;
    }
    
    button{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: none;
        width: 100%;
        background-color: rgb(40, 175, 40);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
        height: 40px;
    }
    
    label{
        font-weight: bold;
    } 
    
    input{
        font-size: 20px;
    }
    
    button:hover{
        background-color: rgb(8, 8, 133);
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    
    nput::placeholder{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity: 0.6;
        font-size: 20px;
        padding: 10px 0 0 0;
    }
}
/*Sign Up */
#signup{
    background-color: whitesmoke;
    text-align: center;
    min-height: 100vh;

    img{
        width: 120px;
        height: 120px;
    
    }
    
    h1{
        color: rgb(40, 175, 40);
        margin: 0;
        font-size: 30px;
    }
    
    form{
        margin: 0 auto;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgb(187, 187, 187);
        text-align: left;
        padding: 20px;
        text-transform: capitalize;
        max-width: 80%;
    }
    
    #f3{
        display: flex;
        justify-content: flex-end;
    }
    
    #f32{
        width: 70%;
        text-align: right;
    }
    
    a{
        text-decoration: none;
        color: rgb(40, 175, 40);
        text-transform: capitalize;
        font-weight: bold;
    }
    #username1{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: 1px solid rgb(181, 189, 194);
        padding: 8px;
    }
    
    #password1,#password2{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: 1px solid rgb(181, 189, 194);
        padding: 8px;
    }
    
    button{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: none;
        width: 100%;
        background-color: rgb(40, 175, 40);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
        height: 40px;
    }
    
    label{
        font-weight: bold;
    } 
    
    input{
        font-size: 20px;
    }
    
    button:hover{
        background-color: rgb(8, 8, 133);
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    
    input::placeholder{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity: 0.6;
        font-size: 20px;
        padding: 10px 0 0 0;
    }
}
/*Forgot*/
#forgotpassword{
    background-color: whitesmoke;
    padding: 0;
    text-align: center;
    min-height: 100vh;

    img{
        width: 150px;
        height: 150px;
    
    }
    
    h1{
        color: rgb(40, 175, 40);
        margin: 0;
        font-size: 50px;
    }
    
    #two{
        color: rgb(40, 175, 40);
    }
    
    form{
        margin: 0 auto;
        background-color: white;
        width: 70%;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgb(187, 187, 187);
        text-align: left;
        padding: 30px;
        text-transform: capitalize;
    }
    
    a{
        text-decoration: none;
        color: rgb(40, 175, 40);
        text-transform: capitalize;
        font-weight: bold;
    }
    #username2{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: 1px solid rgb(181, 189, 194);
        padding: 8px;
    }
    
    button{
        margin: 10px auto;
        width: 100%;
        outline: none;
        border: none;
        width: 100%;
        background-color: rgb(40, 175, 40);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
        height: 40px;
    }
    
    label{
        font-weight: bold;
    } 
    
    input{
        font-size: 20px;
    }
    
    button:hover{
        background-color: rgb(8, 8, 133);
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    
    input::placeholder{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity: 0.6;
        font-size: 20px;
        padding: 10px 0 0 0;
    }
}
}

