* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-items: center;
  align-items: center;
}

#mission {
  background-image: url("https://portal.mut.ac.ke/uploads/2e23d0ad-52ee-4596-a2f1-74f8fedac74b.jpg?v=GWBop-AlxExZtzEdXbsTgNyDYMgzV8xH8xdjEMuSBbY");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  max-width: 50%;
}
#mission p {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 34px;
}

.right-forms {
  flex: 1;
  /*Login*/
  /*Sign Up */
  /*Forgot*/
}
.right-forms #login {
  margin: 0 auto;
  background-color: whitesmoke;
  text-align: center;
  min-height: 100vh;
}
.right-forms #login .login-icon {
  margin: 0 auto;
  padding: 5px 0 0 0;
}
.right-forms #login .login-icon img {
  width: 150px;
  height: 150px;
}
.right-forms #login h1 {
  color: rgb(40, 175, 40);
  margin: 0;
  font-size: 50px;
  color: lime;
}
.right-forms #login form {
  margin: 0 auto;
  background-color: white;
  width: 70%;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(187, 187, 187);
  text-align: left;
  padding: 30px;
  text-transform: capitalize;
}
.right-forms #login #f2 {
  display: flex;
  justify-content: flex-end;
}
.right-forms #login #f21,
.right-forms #login #f22 {
  width: 50%;
}
.right-forms #login #f22 {
  text-align: right;
}
.right-forms #login a {
  text-decoration: none;
  color: rgb(40, 175, 40);
  text-transform: capitalize;
  font-weight: bold;
}
.right-forms #login #username {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: 1px solid rgb(181, 189, 194);
  padding: 8px;
}
.right-forms #login #password {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: 1px solid rgb(181, 189, 194);
  padding: 8px;
}
.right-forms #login button {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: none;
  width: 100%;
  background-color: rgb(40, 175, 40);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  height: 40px;
}
.right-forms #login label {
  font-weight: bold;
}
.right-forms #login input {
  font-size: 20px;
}
.right-forms #login button:hover {
  background-color: rgb(8, 8, 133);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
.right-forms #login nput::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.6;
  font-size: 20px;
  padding: 10px 0 0 0;
}
.right-forms #signup {
  background-color: whitesmoke;
  text-align: center;
  min-height: 100vh;
}
.right-forms #signup img {
  width: 120px;
  height: 120px;
}
.right-forms #signup h1 {
  color: rgb(40, 175, 40);
  margin: 0;
  font-size: 30px;
}
.right-forms #signup form {
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(187, 187, 187);
  text-align: left;
  padding: 20px;
  text-transform: capitalize;
  max-width: 80%;
}
.right-forms #signup #f3 {
  display: flex;
  justify-content: flex-end;
}
.right-forms #signup #f32 {
  width: 70%;
  text-align: right;
}
.right-forms #signup a {
  text-decoration: none;
  color: rgb(40, 175, 40);
  text-transform: capitalize;
  font-weight: bold;
}
.right-forms #signup #username1 {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: 1px solid rgb(181, 189, 194);
  padding: 8px;
}
.right-forms #signup #password1, .right-forms #signup #password2 {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: 1px solid rgb(181, 189, 194);
  padding: 8px;
}
.right-forms #signup button {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: none;
  width: 100%;
  background-color: rgb(40, 175, 40);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  height: 40px;
}
.right-forms #signup label {
  font-weight: bold;
}
.right-forms #signup input {
  font-size: 20px;
}
.right-forms #signup button:hover {
  background-color: rgb(8, 8, 133);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
.right-forms #signup input::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.6;
  font-size: 20px;
  padding: 10px 0 0 0;
}
.right-forms #forgotpassword {
  background-color: whitesmoke;
  padding: 0;
  text-align: center;
  min-height: 100vh;
}
.right-forms #forgotpassword img {
  width: 150px;
  height: 150px;
}
.right-forms #forgotpassword h1 {
  color: rgb(40, 175, 40);
  margin: 0;
  font-size: 50px;
}
.right-forms #forgotpassword #two {
  color: rgb(40, 175, 40);
}
.right-forms #forgotpassword form {
  margin: 0 auto;
  background-color: white;
  width: 70%;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(187, 187, 187);
  text-align: left;
  padding: 30px;
  text-transform: capitalize;
}
.right-forms #forgotpassword a {
  text-decoration: none;
  color: rgb(40, 175, 40);
  text-transform: capitalize;
  font-weight: bold;
}
.right-forms #forgotpassword #username2 {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: 1px solid rgb(181, 189, 194);
  padding: 8px;
}
.right-forms #forgotpassword button {
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: none;
  width: 100%;
  background-color: rgb(40, 175, 40);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  height: 40px;
}
.right-forms #forgotpassword label {
  font-weight: bold;
}
.right-forms #forgotpassword input {
  font-size: 20px;
}
.right-forms #forgotpassword button:hover {
  background-color: rgb(8, 8, 133);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
.right-forms #forgotpassword input::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.6;
  font-size: 20px;
  padding: 10px 0 0 0;
}

/*# sourceMappingURL=index.css.map */
