*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 100vh;
}
